<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> <!--url to where asset is hosted -->
    <title>Welcome to My Dev Skills</title>
</head>
<body>
    <h1>Yea I Got Skills</h1>
    <a href="/skills">See All My Skills</a>
</body>
</html>